<?xml version="1.0"?>
<phpunit
	bootstrap=".config/bootstrap.php"
	backupGlobals="false"
	colors="true"
	convertErrorsToExceptions="true"
	convertNoticesToExceptions="true"
	convertWarningsToExceptions="true"
	defaultTestSuite="check-config"
>
	<testsuites>
		<testsuite name="check-config">
			<directory prefix="test-" suffix=".php">.config/tests</directory>
		</testsuite>
		<testsuite name="byline-v1">
			<directory prefix="test-" suffix=".php">byline-v1/tests/</directory>
			<file>byline-v1/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v2">
			<directory prefix="test-" suffix=".php">byline-v2/tests/</directory>
			<file>byline-v2/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v3a">
			<directory prefix="test-" suffix=".php">byline-v3a/tests/</directory>
			<file>byline-v3a/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v3b">
			<directory prefix="test-" suffix=".php">byline-v3b/tests/</directory>
			<file>byline-v3b/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v3c">
			<directory prefix="test-" suffix=".php">byline-v3c/tests/</directory>
			<file>byline-v3c/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v4a">
			<directory prefix="test-" suffix=".php">byline-v4a/tests/</directory>
			<file>byline-v4a/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v4b">
			<directory prefix="test-" suffix=".php">byline-v4b/tests/</directory>
			<file>byline-v4b/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="byline-v4c">
			<directory prefix="test-" suffix=".php">byline-v4c/tests/</directory>
			<file>byline-v4c/tests/bootstrap.php</file>
		</testsuite>
		<testsuite name="exercise-assertions">
			<directory prefix="test-" suffix=".php">exercise-assertions/tests/</directory>
		</testsuite>
		<testsuite name="exercise-assertions-solution">
			<directory prefix="test-" suffix=".php">exercise-assertions/solution/</directory>
		</testsuite>
		<testsuite name="exercise-database-fixtures">
			<directory prefix="test-" suffix=".php">exercise-database-fixtures/tests/</directory>
		</testsuite>
		<testsuite name="exercise-database-fixtures-solution">
			<directory prefix="test-" suffix=".php">exercise-database-fixtures/solution/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-1">
			<directory prefix="test-" suffix="-1.php">exercise-shared-database-fixtures/tests/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-1-solution">
			<directory prefix="test-" suffix="-1-solution.php">exercise-shared-database-fixtures/solution/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-2">
			<directory prefix="test-" suffix="-2.php">exercise-shared-database-fixtures/tests/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-2-solution">
			<directory prefix="test-" suffix="-2-solution.php">exercise-shared-database-fixtures/solution/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-3">
			<directory prefix="test-" suffix="-3.php">exercise-shared-database-fixtures/tests/</directory>
		</testsuite>
		<testsuite name="exercise-shared-database-fixtures-3-solution">
			<directory prefix="test-" suffix="-3-solution.php">exercise-shared-database-fixtures/solution/</directory>
		</testsuite>
	</testsuites>

	<php>
		<env name="WP_PHPUNIT__TESTS_CONFIG" value=".config/wp-tests-config.php"/>
	</php>
</phpunit>
